@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome - V3</h1>
=======
    <h1 class="display-4">Welcome - Version 2</h1>
>>>>>>> 955f0eccc19beaf054830bdd4e776aaff2deff5b
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
